---
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import LinkButton from '@components/LinkButton.astro';

export async function getStaticPaths() {
  const publications = await getCollection('publications');
  return publications.map(entry => ({
    params: { publication: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<MainLayout title={entry.data.title} description={entry.data.abstract}>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 pt-8">
    <article class="prose dark:prose-invert max-w-none md:col-span-3">
      <header>
        <h1 class="project-title mb-4">{entry.data.title}</h1>
        <div class="text-xl text-text font-semibold mt-2 mb-8">
          <p>author: {entry.data.author}</p>
          <p>publication date: {new Date(entry.data.publicationDate).toLocaleDateString(entry.data.lang, { year: 'numeric', month: 'long', day: 'numeric' })}</p>
        </div>
      </header>

      <section class="mb-8 p-6 rounded-lg bg-secondary">
        <p>{entry.data.abstract}</p>
      </section>

      <div class="prose-content">
        <Content />
      </div>

      <footer class="mt-8 pt-4">
        <div class="mb-8">
          <div class="flex flex-wrap gap-4 mt-2">
            {entry.data.journalLink && (
              <LinkButton href={entry.data.journalLink} text="Link do czasopisma" iconName="mdi:web" />
            )}
            {entry.data.preprint && (
              <LinkButton href={entry.data.preprint} text="Pobierz preprint" iconName="mdi:file-pdf-box" />
            )}
            {entry.data.pdfFile && (
              <LinkButton href={entry.data.pdfFile} text="Pobierz publikację" iconName="mdi:file-download" />
            )}
          </div>
        </div>
        <div>
          <h3 class="text-lg font-semibold">Słowa kluczowe</h3>
          <div class="flex flex-wrap gap-2 mt-2">
            {entry.data.keywords.map((keyword: string) => (
              <span class="bg-secondary text-text text-sm font-medium mr-2 px-2.5 py-0.5 rounded">
                {keyword}
              </span>
            ))}
          </div>
        </div>
      </footer>
    </article>
  </div>
</MainLayout>